* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input, select {
    outline: none;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hidden {
    display: none !important;
}
.editBox{
    width: 100%;
    height: calc(100% - 40px);
    float: left;
    overflow: auto;
    padding: 20px;
    margin-bottom: 13px;
}
body {
    font-family: Microsoft Jhenghei, STXihei, Microsoft Yahei, 微软雅黑, Tahoma, Arial, Helvetica, STHeiti;
    font-size: .8rem;
    line-height: 1.2rem;
    text-rendering: geometricPrecision;
    padding: 0px;
}
::-webkit-input-placeholder {
    color: rgba(0,0,0,0.2);
}
.workbench-title{
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: #728e9b;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    line-height: 26px;
}
.workbench-body{
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.workbench-body .input{
    width: 100%;
    height: 30px;
    background-color: rgba(114, 142, 155, 0.26);
    border: 0px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.api-setup-box {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
    width: 100%;
}
ul.workbench-tab li[ka-active=true] {
    border-bottom: 3px solid rgba(0, 0, 0, 0.7) !important;
}

li.small[ka-active=true] {
    border-bottom: 2px solid rgba(102, 0, 153, 1);
}
td .text {
    color: #2196F3;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    font-weight: 600;
}
.api-setup-box tr td.icon .icon {
    opacity: 0.6!important;
    display: none;
    margin-right: 0px !important;
    margin-left: 9px !important;
}
.api-setup-box tr:hover td.icon .icon {
    display: block;
}
table.input td {
    padding: 3px;
    padding-left: 3px!important;
    padding-right: 3px!important;
}
.api-setup-box input{
    width: 100%;
    font-size: 0.8rem;
    padding: 3px;
    /* border: 0.5px; */
    border: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(255,255,255,0);
    color:rgba(0,0,0,0.6);
    height: 26px;
    float: left;
}
.api-setup-box input:focus {
    border-bottom: 1px solid #728e9b;
    background-color: rgba(255,255,255,1);
}
.api-setup-box select {
    height: 26px;
    width: 100%;
    font-size: 0.8rem;
    padding: 3px;
    /* border: 0.5px; */
    border: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(255,255,255,0);
    color: rgba(0, 0, 0, 0.6);
    float: left;
}
.api-setup-box select:focus {
    border-bottom: 1px solid #728e9b;
    background-color: rgba(255, 255, 255, 1);
}
td .text:hover {
    text-decoration: underline;
}
.api-setup-box-base {
    width: calc(100%);
    /* max-width: 800px; */
    font-size: 0.8rem;
    height: calc(100%);
    padding: 10px;
    line-height: 1.3rem;
    border-radius: 2px;
    padding-top: 10px;
    overflow: auto;
}
.api-setup-box .title-text {
    font-size: 0.9rem;
    padding-left: 10px;
    /* padding-top: 10px; */
    /* height: 30px; */
    line-height: 40px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    float: left;
}

.mda-checkbox,
.mda-radio {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin: 0;
    cursor: pointer;
}
.mda-checkbox input,
.mda-radio input {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    cursor: pointer;
    opacity: 0;
}
.mda-checkbox span{
    margin-left: -4px;
}
.mda-checkbox input:checked + em:before,
.mda-radio input:checked + em:before {
    background-color: inherit;
    border-width: 0;
}
.mda-checkbox input:checked + span .active,
.mda-radio input:checked + span .active {
    display: inherit;
}
.mda-checkbox input[type="checkbox"]:checked + em:after,
.mda-radio input[type="checkbox"]:checked + em:after {
    position: absolute;
    top: 2px;
    left: 6px;
    display: table;
    width: 5px;
    height: 10px;
    border: 2px solid;
    border-top: 0;
    border-left: 0;
    content: ' ';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: #fff;
}
.mda-checkbox input[type="radio"]:checked + em:after,
.mda-radio input[type="radio"]:checked + em:after {
    content: ' ';
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 12px;
    height: 12px;
    background: inherit;
    border-radius: 50%;
    border: 2px solid #fff;
}
.mda-checkbox input[type="radio"] + em,
.mda-radio input[type="radio"] + em,
.mda-checkbox input[type="radio"] + em:before,
.mda-radio input[type="radio"] + em:before {
    border-radius: 50%;
}
.mda-checkbox input[disabled] + em:before,
fieldset[disabled] .mda-checkbox input + em:before,
.mda-radio input[disabled] + em:before,
fieldset[disabled] .mda-radio input + em:before {
    border-color: rgba(0, 0, 0, 0.26);
}
.mda-checkbox input[disabled]:checked + em,
.mda-radio input[disabled]:checked + em {
    background-color: rgba(0, 0, 0, 0.26);
}
.mda-radio input[disabled]:checked + em:after {
    background-color: transparent;
}
.mda-checkbox input[disabled]:checked + em:before {
    background-color: rgba(0, 0, 0, 0.26);
}
.mda-checkbox > em,
.mda-radio > em {
    position: relative;
    display: inline-block;
    width: 0;
    height: 18px;
    margin-top: -2px;
    margin-right: 28px;
    margin-left: -18px;
    line-height: 1;
    vertical-align: middle;
    background-color: #1890ff;
}
.mda-checkbox > em:before,
.mda-radio > em:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(162, 162, 162, 0.56);
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.mda-checkbox > em.empty:after,
.mda-radio > em.empty:after {
    display: none !important;
}
.pull-left {
    float: left;
    margin-left: 0px !important;
    margin-right: 10px !important;
}
.pull-right {
    float: right !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
}
.workbench-body table{
    border-collapse: collapse;
}
table tr th {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    background-color: #728e9b;
    color: #fff;
    border: 1px solid #728e9b;
}
table tr td {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    height: 26px;
    border-bottom: 1px solid #728e9b;
    border-right: 1px solid #728e9b;
}
table tr th:last-child {
    border-right: 0px solid #728e9b;
}
table tr td:last-child {
    border-right: 0px solid #728e9b;
}
.text-center{
    text-align: center;
}
.response{
    padding: 20px;
    width: 100%;
    height: auto;
    border: 1px solid #728e9b;
    border-radius: 2px;
    float: left;
    padding-left: 30px;
    margin-bottom: 20px;
}
.response .icon-close{
    position: relative;
    margin-right: -12px;
    margin-top: -15px;
}
.response .response-body{
    width: 100%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.response .response-body .response-tr{
    width: 33%;
    float: left;
}
.response .response-body:last-child {
    border-top: 1px solid #728e9b;
}
.icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
    margin-top: 0px;
    margin-right: 0px;
    width: 20px;
    height: 19px;
    opacity: 0.5;
    border: 1px solid #728e9b;
}
.icon-add-big {
     background-image: url(../images/add-big.png);
 }
.text-center{
    text-align: center;
}
.icon-close {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 19px;
    opacity: 0.5;
    background-image: url(../images/close.png);
}
.model-box{
    width:100%;
    float: left;
    border: 1px solid rgba(0,0,0,0.1);
    height: calc(100% - 40px);
}
.model-box .left{
    float: left;
    width: 200px;
    min-height: 300px;
}
.model-box .right{
    float: left;
    width: calc(100% - 200px);
    border-left: 1px solid rgba(0,0,0,0.1);
    height: calc(100%);
}
.model-box .title{
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 20px;
    color: rgba(0,0,0,0.6);
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.05);
    float: left;
    width: 100%;
}
 .model-box .right .textarea-box{
     width: 100%;
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 0px;
     float: left;
     margin-bottom: 20px;
     height: calc(100% - 180px);
 }

.model-box .right .title-box{
    width: 100%;
    padding-left: 100px;
    padding-right: 20px;
    margin-top: 20px;
    float: left;
}
.model-box .right .title-box .title-name{
    font-size: 0.8rem;
    color: rgba(0,0,0,0.6);
    margin-left: -80px;
    height: 26px;
    line-height: 26px;
    float: left;
}
.model-box .right .title-box .title-body{
    width: 100%;
    float: left;
    height: 26px;
    line-height: 26px;
}
.model-box .right .title-box select {
    float: left;
    border-bottom: 1px solid #728e9b;
    background-color: rgba(255, 255, 255, 1);
}
.model-box .right .title-box input {
    float: left;
    border-bottom: 1px solid #728e9b;
    background-color: rgba(255, 255, 255, 1);
}
ul{
    list-style-type: none;
}
ul li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 20px;
    border-bottom: 1px solid #eeeeee;
}
ul li[select=true]{
    font-weight: 600;
    color: #728e9b;
    background-color: rgba(0,0,0,0.03);
}
ul li .li-title{
    float: left;
    width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul li .icon-close{
    float: left;
    margin-top: 5px;
    display: none;
}
ul li:hover .icon-close{
    display: block;
}
#methods ul{
    list-style-type: none;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #eeeeee;
}
#methods ul li{
    width: auto;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #eeeeee;
    border-bottom: 0px solid #eeeeee;
    background-color: rgba(0,0,0,0.03);
    float: left;
    margin-left: -1px;
    text-transform: uppercase;
}
#methods ul li[select=true]{
    font-weight: 600;
    color: #728e9b;
    background-color: #ffffff;
}
.model-box .left .title-icon{
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
    margin-top: 3px;
    margin-right: 0px;
    width: 20px;
    height: 19px;
    opacity: 0.5;
    margin-left: 180px;
    margin-bottom: -22px;
}
button {
    background-color: #728e9b;
    color: white;
    box-shadow: none;
    font-size: 0.8rem;
    font-weight: 500;
    /* -webkit-border-radius: 4px; */
    /* border-radius: 5px; */
    padding: 5px 22px;
    /* margin: 26px 5px 0 5px; */
    cursor: pointer;
    border: 0px solid rgba(0, 0, 0, 0.15);
    /* position: relative; */
    right: 20px;
    top: 15px;
    float: right;
    margin-top: -35px;
    width: 106px;
}
button:focus {
    outline: none;
    box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
button:hover {
    background-color: rgb(0,72,73);
}
button:active {
    background-color: #5f859b;
}
button.cancel {
    background-color: rgb(227, 232, 235);
    color: #728e9b;
}
button.cancel:hover {
    background-color: rgb(199, 210, 215);
}
button.cancel:active {
    background-color: #a8a8a8;
}
.modelEdit{
    height: 600px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
    float: left;
}
#body ul{
    list-style-type: none;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #eeeeee;
}
#body ul li{
    width: auto;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid rgba(0,0,0,0);
    float: left;
    margin-left: -1px;
    text-transform: uppercase;
}
#body ul li[select=true]{
    font-weight: 600;
    color: #728e9b;
    border-bottom: 2px solid #1890ff;
    background-color: rgba(0,0,0,0.0);
}

.mda-radio {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin: 0;
    cursor: pointer;
}
.mda-radio input {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    cursor: pointer;
    opacity: 0;
}
.mda-radio input:checked + em:before {
    background-color: inherit;
    border-width: 0;
}
.mda-radio input:checked + span .active {
    display: inherit;
}
.mda-radio input[type="checkbox"]:checked + em:after {
    position: absolute;
    top: 2px;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid;
    border-top: 0;
    border-left: 0;
    content: ' ';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: #fff;
}
.mda-radio input[type="radio"]:checked + em:after {
    content: ' ';
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 12px;
    height: 12px;
    background: inherit;
    border-radius: 50%;
    border: 2px solid #fff;
}
.mda-radio input[type="radio"] + em,
.mda-radio input[type="radio"] + em:before {
    border-radius: 50%;
}
.mda-radio input[disabled] + em:before,
fieldset[disabled] .mda-radio input + em:before {
    border-color: rgba(0, 0, 0, 0.26);
}
.mda-radio input[disabled]:checked + em {
    background-color: rgba(0, 0, 0, 0.26);
}
.mda-radio input[disabled]:checked + em:after {
    background-color: transparent;
}
.mda-radio > em {
    position: relative;
    display: inline-block;
    width: 0;
    height: 18px;
    margin-top: -2px;
    margin-right: 28px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
}
.mda-radio > em:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 100%;
    border: 2px solid rgba(162, 162, 162, 0.56);
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.mda-radio > em.empty:after {
    display: none !important;
}
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    /* box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0);
    z-index: 100001;
    perspective: 1680px;
    display: none;
}
.mask .alert{
    width: 500px;
    height: 260px;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 130px);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.mask .alert .title{
    background-color: #728e9b;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.mask .alert .body{
    background-color: #ffffff;
    width: 100%;
    height: 220px;
    line-height: 40px;
    padding: 20px;
    color: #666;
 }

.mask .alert .ok{
    background-color: #728e9b;
    width: 100px;
    height: auto;
    font-zise: 14px;
    line-height: 40px;
    color: #728e9b;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #ffffff;
}
.ullist{
    height: 532px;
    /* overflow: hidden; */
    overflow: auto;
    float: left;
    width: 100%;
}
footer {
    width: 100%;
    text-align: right;
    height: 30px;
    float: left;
}
footer button{
    float: right;
    margin-top: 0px;
}
input:focus,textarea:focus {
     background-color: #fff !important;
     border: 1px solid #004849 !important;
     box-shadow: 0 1px 1px rgba(0,0,0,0.4) !important;
     outline: 0 !important;
 }